/* start font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
/* end font */

/* start body */
body {
    background-color: pink;
    color: black;
    font-size: 16px;
    font-family: roboto, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* end body */

/* start debung */
.bg-blue {
    background-color: bisque;
}

.bg-red {
    background-color: palevioletred;
}
/* end debung */

/* start container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.full {
    overflow: auto;
    width: 100%;
}

/* end container */

/* start logo */
.logo {
    text-align: center;
}
/* end logo */

/* start menu primer */
.menu-primer ul {
    background-color: palevioletred;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px grey,
        0 6px 10px 0 black,
        0 1px 18px 0 white;    
}

.menu-primer li {
    display: inline-block;
    border-right: 1px solid paleturquoise;
    margin: 0 -4px;
}

.menu-primer a {
    color: black;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color: white;
    color:black;
    text-decoration: none;
}
/* end menu primer */

/* start anchor/ hyperlink */
  a:link,
  a:visited {
        color: black;
        text-decoration: none;
  }

  a: :hover,
  a:active {
    color: plum;
    text-decoration: underline;  
  }
/* end anchor/ hyperlink */

/* start heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 13px;
}
/* end heading */

/* start jumbotron */
.jumbotron {
    background-color: bisque;
    border: 1px solid peachpuff;
    border-radius: 4px;
    padding: 20px 0;
}

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* end jumbotron */

/* start main */
.main-home-one{
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 150px;
    
}

.main-one {
    float: left;
    overflow: auto;
    width: 74.5%;
}
/* end main */

/* start sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width: 25%;
}
/* end sidebar */

/* start box */
.box-heading {
    background-color: plum;
    border: 1px solid bisque;
    border-radius: 3px 3px 0 0;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: white;
    border: 1px solid bisque;
    border-top: 0;
    padding: 10px 20px;
    margin: 0;
}
/* end box */

/* start testimonial */
.testimonial {
    border-left: 4px solid plum;
    margin-left: 30px;
    padding-left: 20px;
}
/* end testimonial */

/* start layanan table */
.layanan-table {
    border: 1px solid palevioletred;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
.layanan-table th {
    background-color: bisque;
}
.layanan-table td {
    text-align: center;
}
/* end layanan table */

/* start form */
input[type="text"],
input[type="email"],
textarea {
    font-size: 14px;
    padding: 10px;
}

input::placeholder,
textarea::placeholder {
    color: peachpuff;
    font-weight: 300;
}

input[type="submint"] {
    background-color: aquamarine;
    background-image: linear-gradient(-180deg, pink 0%, white 90%);
    border: 1px solid palevioletred;
    border-radius: 4px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* end form */

/* start contact form */
.contact-form div {
    margin: 20px 0;
}
/* end contact form */

/* start menu sekunder */
.menu-sekunder-one {
    /* background-color: pink;
    border-bottom: 1px solid white;
    border-top: 1px solid white; */
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;  
}
.menu-sekunder li a, 
.menu-sekunder p {
    font-size: 15px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* end menu sekunder */

/* start copyright */
.copyright p {
    font-size: 15px;
}
/* end copyright */
.snip1566 {
    position: relative;
    display: inline-block;
    margin: 20px;
    max-width: 190px;
    width: 100%;
    color: #bbb;
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .snip1566 *,
  .snip1566:before,
  .snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .snip1566:before,
  .snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 2px solid #bbb;
    border-color: transparent #bbb;
  }
  
  .snip1566 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px;
  }
  
  .snip1566 figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
  }
  
  .snip1566 i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
  }
  
  .snip1566 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .snip1566:hover figcaption,
  .snip1566.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .snip1566:hover:before,
  .snip1566.hover:before,
  .snip1566:hover:after,
  .snip1566.hover:after {
    border-width: 10px;
  }
  
  .snip1566:hover:before,
  .snip1566.hover:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .snip1566:hover:after,
  .snip1566.hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
/* end hover */

/* start effect */
.effect {
    height: 249px;
}
/* end effect */

