/* start font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
/* end font */

/* start body */
body {
    background-color: pink;
    color: black;
    font-size: 16px;
    font-family: roboto, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* end body */

/* start debung */
.bg-blue {
    background-color: bisque;
}

.bg-red {
    background-color: #891A0D;
}
/* end debung */

/* start container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.full {
    overflow: auto;
    width: 100%;
}

/* end container */

/* start logo */
.logo {
    text-align: center;
}
/* end logo */

/* start menu primer */
a:link {
    text-decoration: none;
}

a {color: white; }
.menu-primer ul {
    border-radius: 4px;
    border: solid 1px grey;
    box-shadow: 
        0 3px 3px -1px grey,
        0 1px 1px 0 black,
        0 1px 3px grey;   
    text-align: center;

}

.menu-primer li {
    display: inline-block;
    margin: 0 -4px;
}


.menu-primer a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: palevioletred;
    color: white;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #DE6C83;
    color:black;
    text-decoration: none;
}
/* end menu primer */

/* start anchor/ hyperlink /a:link */ 
  
  a:visited {
        color: black;
        text-decoration: none;
  }

  a:hover,
  a:active {
    color:black;
    text-decoration: underline;  
  }
/* end anchor/ hyperlink */

/* start heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 13px;
}
/* end heading */


/* start jumbotron */
.jumbotron {
    background-color: bisque;
    border: 1px solid peachpuff;
    border-radius: 4px;
    padding: 20px 0;
}

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* end jumbotron */

/* start main */
.main-home-one{
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 40%;
    
}


.centertext {
    text-align: center;
}

.main-home-two .box-isi ul {
    list-style-type: none;
}

.main-one {
    float: left;
    overflow: auto;
    width: 74.5%;
}
/* end main */

/* start sidebar */
.sidebar-two {
    float: right;
    overflow: auto;
    width: 25%;
}
/* end sidebar */

/* start box */
.box-heading {
    color: white;
    background-color: palevioletred;
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
    padding: 10px 20px;
    margin: 0;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi img {
   width: 80%;
}

.box-isi ul {
    padding: 30px;
    padding-bottom: 0;
}

.box-isi {
    min-height: 250px;
    background-color: bisque;
    border: 1px solid gray;
    border-radius: 0 0 10px 10px ;
    border-top: none;
    padding: 10px 20px;
    margin: 0;
}
/* end box */

.faq, .pay, .kont {
    padding: 50px;
}

.faq ul {
    padding: 10px;
}

.faq a {
  color: black;
}

.pay ul {
    padding: 2px;
}

.kont ul {
    padding: 5px;
}



/* start testimonial */
.testimonial {
    border-left: 4px solid palevioletred;
    margin-left: 30px;
    padding-left: 20px;
}
/* end testimonial */

/* start layanan table */
.layanan-table {
    border: 1px solid palevioletred;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}
.layanan-table th {
    background-color: bisque;
}
.layanan-table td {
    text-align: center;
}
/* end layanan table */

/* start form */
input[type="text"],
input[type="email"],
textarea {
    font-size: 14px;
    padding: 10px;
}

input::placeholder,
textarea::placeholder {
    color: grey;
    font-weight: 300;
}

input[type="submint"] {
    background-color: aquamarine;
    background-image: linear-gradient(-180deg, pink 0%, white 90%);
    border: 1px solid palevioletred;
    border-radius: 4px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* end form */

/* start contact form */
.contact-form div {
    margin: 20px 0;
}
/* end contact form */

/* start menu sekunder */
.menu-sekunder {
    margin: 50px 0 20px 0;
    padding: 30px 20px;
}
.menu-sekunder-one {
    /* background-color: pink;
    border-bottom: 1px solid white;
    border-top: 1px solid white; */
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 700;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;  
}
.menu-sekunder li a, 
.menu-sekunder p {
    font-size: 15px;
    margin-top: 30px;
}

.hide ul {
    margin-top: 30px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}

.menu-sekunder-one a {
    color: black;
}

.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* end menu sekunder */

/* start copyright */
.copyright p {
    font-size: 15px;
}
/* end copyright */
.snip1566 {
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 15%;
    color: #bbb;
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .snip1566 *,
  .snip1566:before,
  .snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .snip1566:before,
  .snip1566:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    border: 2px solid #bbb;
    border-color: transparent #bbb;
  }
  
  .snip1566 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 50%;
    padding: 10px;
  }
  
  .snip1566 figcaption {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
  }
  
  .snip1566 i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
  }
  
  .snip1566 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .snip1566:hover figcaption,
  .snip1566.hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  .snip1566:hover:before,
  .snip1566.hover:before,
  .snip1566:hover:after,
  .snip1566.hover:after {
    border-width: 10px;
  }
  
  .snip1566:hover:before,
  .snip1566.hover:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .snip1566:hover:after,
  .snip1566.hover:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
/* end hover */

/* start effect */
.effect {
    height: 40%;
    overflow: hidden;
    text-align: center;
}
/* end effect */

.menu-sekunder-three img {
    width: 50px;
    height: 50px;
}

.menu-sekunder-three a {
    color:black;
}

.container-copyright {
    text-align: center;
}

.center-div {
    text-align: center;
}

.snip1567 {
    background-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 10px;
    max-width: 30%;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
  }
  
  .snip1567 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .snip1567 img {
    width: auto;
    object-fit: cover;
    height: 350px;
    opacity: 0.75;
    position: relative;
    vertical-align: top;
  }
  
  .snip1567 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .snip1567 h3 {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background-color: #000000;
    top: 0;
    font-weight: 800;
    letter-spacing: -0.4px;
    margin: 0;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
  }
  
  .snip1567 p {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0px 20px;
    opacity: 0;
    text-align: right;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  
  .snip1567 i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 54px;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  
  .snip1567 .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: rgba(236, 188, 46, 0.75);
    display: flex;
    font-size: 65px;
    justify-content: center;
    opacity: 0;
  }
  
  .snip1567 a {
    left: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .snip1567:hover .hover,
  .snip1567.hover .hover {
    opacity: 1;
  }
  
  .snip1567:hover p,
  .snip1567.hover p {
    opacity: 1;
  }
  
  .snip1567:hover h3,
  .snip1567.hover h3 {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  
  .snip1567:hover i,
  .snip1567.hover i {
    -webkit-transform: translate(-50%, -50%) scale(0.1);
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
  }

  /* coba */
  figure.snip1440 {
    display: inline-block;
    font-family: 'Montserrat', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.4em;
    background-color: #000000;
  }
  figure.snip1440 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  figure.snip1440 img {
    max-width: 100%;
    vertical-align: top;
  }
  figure.snip1440 figcaption {
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    position: absolute;
    opacity: 0;
    z-index: 1;
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
  }
  figure.snip1440 h3 {
    letter-spacing: -1px;
    margin: 0;
    font-weight: 600;
  }
  figure.snip1440:after {
    border: 8px solid #ffffff;
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    bottom: 50%;
    left: 20px;
    right: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
  }
  figure.snip1440 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  figure.snip1440:hover img,
  figure.snip1440.hover img {
    opacity: 0.2;
  }
  figure.snip1440:hover figcaption,
  figure.snip1440.hover figcaption {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  figure.snip1440:hover:after,
  figure.snip1440.hover:after {
    top: 20px;
    bottom: 20px;
    opacity: 0.9;
  }
  /* coba */

 